.flex-container{
  margin:0 auto;
  position: relative;
  width: 480px;
  height: 350px;
  display:grid;
  grid-auto-flow:column ;
  overflow: scroll;
  overflow-y: hidden;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  transition: all 1s ease;
  scroll-behavior: smooth;
}

.flex-item{
  position : relative;
  width: 400px;
  height: 450px;
  margin:20px;
  top : 10px;
  left : 0px;
  text-align: center;
  background-color: lightgoldenrodyellow;
  font-size: 25px;
  grid-auto-flow: column;
  scroll-snap-align: center;
  line-height : 35px;
  white-space: pre-wrap;
  overflow:visible;
}
.flex-item>span{
  background-color: yellow;
  display: block;
  position: absolute;
  opacity: 0;
  right: 0px;
  bottom:100px;
}

.flex-item:hover span{
  font-family: Maple;
  opacity: 1;
  left:0;
  transition: 0.3s;
}