.flex-container{
  margin:0 auto;
  position: relative;
  width: 1080px;
  height: 500px;
  display:grid;
  grid-auto-flow:column ;
  overflow: scroll;
  overflow-y: hidden;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  transition: all 1s ease;
  scroll-behavior: smooth;
}

.flex-item{
  position : relative;
  width: 400px;
  height: 600px;
  margin:20px;
  top : 10px;
  left : -450px;
  text-align: center;
  background-color: lightgoldenrodyellow;
  font-size: 25px;
  grid-auto-flow: column;
  scroll-snap-align: center;
  line-height : 35px;
  white-space: pre-wrap;
}

.open img {  
    transform: rotate(180deg); 
  }
  
  .content {
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }

  .fixed-button{
    position:absolute;
  }
  