body
{
}

.icon_hover_on{
    border-radius: 50%;
    color: #fff;
    height: 80px;
    position: relative;
    width: 120px;
    border: 1px solid transparent;
    z-index : 20;
}

.hover {
    background-color: #0078d4;
}

.icon_hover_off {
    border-radius: 50%;
    color: #fff;
    height: 40px;
    position: relative;
    width: 60px;
    border: 1px solid transparent;
}

.Wrapper {
    position : relative;
    top : 0;
    left : 0;
    right : 0;
    bottom : 0;
    justify-content: center;
    align-items: center;
    width : fit-content;
    height : fit-content;
    user-select : none;
    padding : 10px;
}

.Wrapper_hover {
    position: relative;
    top: 0%;
    left: 0%;
    width: fit-content;
    height: fit-content;
    user-select: none;
    transform: translate(-50%,90%);
    padding : 10px;
}