
.container{
    width: 1500px;
    min-height: 800px;
    margin: auto;
    place-content: center;
    display:grid;
    grid-template-columns: 45% 45%; /*로고 가로 메뉴 가로*/
    grid-template-rows: 10% 15% 70%; /*로고 세로 메뉴 세로 맵 세로*/
    align-content: center;
    justify-content: center;
    column-gap: 20px;
    row-gap: 10px;
    background-color: black;
}
.container > div{
    background-color: white;
    text-align: center;
    padding: 10px 10px;
    font-size: 40px;
    margin: 10px;;
}
.map-container{   /*map*/
    grid-row-start:2;
    grid-row-end:4;
}
.selector-container{ /*menu*/
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start:1;
    grid-row-end:5;
}
/*검은색 라인 중간에 넣기*/
/*버튼 중앙으로 정렬*/
.middle-button {
  text-align: center;
  padding: 10px 10px;
}

button {
  display: inline-block;
  font-weight: 1000;
  width: 110px;
  height: 40px;
  color: black;
  background-color: white;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  /*box-shadow: 0 4px 16px rgba(0, 79, 255, 0.3);*/
}

button:focus {
  outline: 0;
}

button:hover {
  animation-name: fadeIn;
  animation-duration: 0.4s;
  color: white;
  background: rgb(255, 7, 7);
  cursor: pointer;
  /*box-shadow: 0 2px 4px rgba(0, 79, 255, 0.6);*/
}

@keyframes testKeyword {
    0% {
      transform: scale(1);
    }
    40%{
        transform: scale(0.2);
    }

    100% {
        
      transform: scale(0.2) translateX(-500%) translateY(-370%);
    }
  }

  @keyframes testKeyword2 {
    0% {
      opacity: 0;
      transform: scale(0.1) translateX(50px) translateY(50px);
    }

    100% {
      opacity: 1;
      transform: scale(1) translateX(0px) translateY(0px);
    }
  }
