
@font-face {
    font-family: "BlackhanSans";
    font-weight: 500;
    src: url("./fonts/Maplestory Light.ttf") format("truetype");
}

.container {
    width: 1500px;
    min-height: 1000px;
    margin: auto;
    place-content: center;
    display: grid;
    grid-template-columns: 735px 735px;
    grid-template-rows: 580px 400px;
    align-content: center;
    justify-content: center;
    column-gap: 10px;
    row-gap: 10px;
    background-color: black;
    font-family : "BlackhanSans"
}
.container > div{
    background-color: white;
    text-align: center;
    padding: 10px 10px;
    font-size: 40px;
    margin: 10px;
    font-family : "BlackhanSans"
}
.index-container{   
    position: relative;
    justify-content: center;
    grid-column-start:1;
    grid-column-end:3;
}
