.divide{
  display: grid;
  width: 99vw;
  grid-template-columns: 50% 50%;
}
.Others-img{
  position: relative;
}

.Others-img>img{
  position: absolute;
  left : 50%;
  top :35%;
  border-radius: 15%;
  animation : firstShow 3s forwards;
  opacity: 0;
}

.Logo-img{
  max-width: 40%;
  max-height: 40%;
  text-align: center;
  align-items: center;
  padding-top : 2%;
  position: relative;
  right : 50%;
  opacity: 0;
  transform: translate(-50%,-50%);
  animation : secondShow 1.5s forwards;
  animation-delay: 6s;
  -webkit-animation-delay: 6s;
}

.Logo-img>img{
  border-radius: 10%;
}

@keyframes firstShow {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50%{
    opacity: 1;
    transform : translateY(-10%)
  }
  100%{
    opacity: 0;
    transform : translateY(-10%)
  }
}


@keyframes secondShow {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  100%{
    opacity: 1;
    transform : translateX(10%)
  }
}
