.Logo{
    width: auto;
    height: 1000px;
    text-align: center;
    align-items: center;
    animation : testKeyword;
    padding-top : 2%;
}

img{
    max-height:100%;
    max-width:100%;
}

@keyframes testKeyword {
    0% {
      transform: scale(1);
    }
    40%{
        transform: scale(0.2);
    }

    100% {
      transform: scale(0.2) translateX(-500%) translateY(-370%);
    }
  }

  @keyframes testKeyword2 {
    0% {
      opacity: 0;
      transform: scale(0.1) translateX(50px) translateY(50px);
    }

    100% {
      opacity: 1;
      transform: scale(1) translateX(0px) translateY(0px);
    }
  }
